body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #333; /* This is a dark grey color */
}
h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3.8rem;
  font-style: italic;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  box-shadow: 2px 2px 4px #000000;
}

button:active {
  transform: scale(0.95); /* Makes the button slightly smaller */
  background-color: #3f8f40; /* Changes the background color */
}

#jokeButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.joke {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #f5efee;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 2rem;

  padding: 1rem;
  border-radius: 10px;
  width: 80%;
  text-align: center;
}

.weather {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #16b816;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 2rem;

  padding: 1rem;
  border-radius: 10px;
  width: 80%;
  text-align: center;
}

#weatherButton {
  background-color: blue;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#weatherOutput {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.weather {
  padding: 10px;
}
